
body {
	font-family: "Bellota Text", sans-serif;
	max-width: 40em;
	margin: 0 auto;
	padding: 0 2em;
	font-size: 1.15em;
}


h1 {
	text-align: center;
	font-size: 4em;
	margin-bottom: 0;
}


h1 img {
	margin-top: 0em;
	height: 1em;
}


h2 {
	margin-top: 0em;
	text-align: center;
	font-size: 2em;
	text-shadow: 0.5px 0 0 black;
	font-weight: 900;
}


h3 {
	margin-top: 0em;
	font-size: 1.35em;
	text-shadow: 0.5px 0 0 black;
	font-weight: 900;
	margin-bottom: 0;
}


p {
	text-align: justify;
}


li {
	margin-top: 0.15em;
}



.hint {
	font-size: 80%;
	font-weight: 100;
}


h2 .hint {
	font-weight: 100 !important;
	font-size: 50%;
	text-shadow: none;
}


a {
	color: black;
	text-decoration: none; 
}

a:hover {
	color: Royalblue;
}


.footer {
	text-align: center;
	font-size: 80%;
	font-weight: 100;
	margin: 2em;
}


button.big {
	font-family: "Bellota Text", sans-serif;
	display: inline-block;
	cursor: pointer;
	background: none;
	border: none;
}

button.big:hover {
	color: Royalblue;
}

button.inline {
	font-family: "Bellota Text", sans-serif;
	font-size: 1em;
	display: inline-block;
	background: white;
	border: none;
	padding: 0.2em;
	cursor: pointer;
	color: royalblue;
}

button .count {
	font-size: 3em;
	font-weight: 900;
	text-shadow: 1px 0 0px black, 0.5px 0 1px black;
}

button:hover .count {
	text-shadow: 1px 0 0px Royalblue, 0.5px 0 1px Royalblue;
}

button .type {
	font-size: 1.5em;
}


.row {
	padding: 0.25em 1em;
	margin-top: 0.2em;
	overflow: auto;
}

.row0 {
	background: #e8e8e8;
}

.row1 {
	background: #f8f8f8;
}

.acronym {
	margin-left: 0.5em;
}

.url {
	display: block;
	font-size: 80%;
	font-weight: 200;
	font-style: italic;
}

.ip4 {
	float: right;
	display: inline-block;
	font-size: 80%;
	font-weight: 200;
	font-style: italic;
	margin-left: 1em;
	text-align: right;
}


input {
	margin-top: 0.3em;
	max-width: 20em;
	width: 100em;
	font-family: "Bellota Text", sans-serif;
	padding: 0.3em;
	font-size: 1.15em;
	border: dotted 1px gray;
}


em {
	font-style: normal;
	font-weight: bold;
	color: black;
	font-weight: 900;
	text-shadow: 0.5px 0 0px black;
	background: gold;
}